<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaheng.scaffold.sys.sys.dao.SysEventHookMapper">
  <resultMap id="BaseResultMap" type="com.jiaheng.scaffold.sys.sys.domain.SysEventHook">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="service_bean" jdbcType="VARCHAR" property="serviceBean" />
    <result column="service_method" jdbcType="VARCHAR" property="serviceMethod" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="execute_type" jdbcType="VARCHAR" property="executeType" />
    <result column="execute_sql" jdbcType="VARCHAR" property="executeSql" />
    <result column="execute_sql_param" jdbcType="VARCHAR" property="executeSqlParam" />
    <result column="execute_bean" jdbcType="VARCHAR" property="executeBean" />
    <result column="execute_method" jdbcType="VARCHAR" property="executeMethod" />
    <result column="execute_param" jdbcType="VARCHAR" property="executeParam" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="sql_columns">
    id,name,service_bean,service_method,status,execute_type,execute_sql,execute_sql_param,execute_bean,execute_method,execute_param,add_time,update_time
  </sql>
  <sql id="sql_where">
    <where>
      <if test="null != advanceFilterStr and ''!= advanceFilterStr">
        ${advanceFilterStr}
      </if>
      <if test="null == advanceFilterStr or ''== advanceFilterStr">
          <if test="null != id and '' != id or 0 ==id">and id = #{id}</if>
          <if test="null != name and '' != name">and name = #{name}</if>
          <if test="null != serviceBean and '' != serviceBean">and service_bean = #{serviceBean}</if>
          <if test="null != serviceMethod and '' != serviceMethod">and service_method = #{serviceMethod}</if>
          <if test="null != status and '' != status">and status = #{status}</if>
          <if test="null != executeType and '' != executeType">and execute_type = #{executeType}</if>
          <if test="null != executeSql and '' != executeSql">and execute_sql = #{executeSql}</if>
          <if test="null != executeSqlParam and '' != executeSqlParam">and execute_sql_param = #{executeSqlParam}</if>
          <if test="null != executeBean and '' != executeBean">and execute_bean = #{executeBean}</if>
          <if test="null != executeMethod and '' != executeMethod">and execute_method = #{executeMethod}</if>
          <if test="null != executeParam and '' != executeParam">and execute_param = #{executeParam}</if>
          <if test="null != addTime and '' != addTime">and add_time = #{addTime}</if>
          <if test="null != updateTime and '' != updateTime">and update_time = #{updateTime}</if>
      </if>
	</where>
  </sql>
  <sql id="sql_map_where">
    <where>
	  <foreach collection="map.keys" item="k" separator="and">
 	      <if test="null != map[k]">
	          a.${k} = #{map[${k}]}
	      </if>
	  </foreach>
	</where>
  </sql>
  <select id="selectById" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from gjj_sys_event_hook where id = #{id}
  </select>
  <select id="selectCacheById" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from gjj_sys_event_hook where id = #{id}
  </select>
  <select id="selectLockById" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from gjj_sys_event_hook where id = #{id} for update
  </select>
  <select id="selectOne" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from gjj_sys_event_hook <include refid="sql_where" />
  </select>
  <select id="findList" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from gjj_sys_event_hook <include refid="sql_where" />
  </select>
  <select id="selectMap" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from gjj_sys_event_hook <include refid="sql_map_where" />
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(1) from gjj_sys_event_hook <include refid="sql_where" />
  </select>
  <sql id="sql_insert_columns">
    insert into gjj_sys_event_hook
	 <trim prefix="(" suffix=")" suffixOverrides=",">
	  <if test="null != item.name"> name,</if>
	  <if test="null != item.serviceBean"> service_bean,</if>
	  <if test="null != item.serviceMethod"> service_method,</if>
	  <if test="null != item.status"> status,</if>
	  <if test="null != item.executeType"> execute_type,</if>
	  <if test="null != item.executeSql"> execute_sql,</if>
	  <if test="null != item.executeSqlParam"> execute_sql_param,</if>
	  <if test="null != item.executeBean"> execute_bean,</if>
	  <if test="null != item.executeMethod"> execute_method,</if>
	  <if test="null != item.executeParam"> execute_param,</if>
	  <if test="null != item.addTime"> add_time,</if>
	  <if test="null != item.updateTime"> update_time,</if>
	</trim>
  </sql>
  <sql id="sql_insert_values">
        <trim prefix="values (" suffix=")" suffixOverrides=",">
	  <if test="null != item.name"> #{item.name},</if>
	  <if test="null != item.serviceBean"> #{item.serviceBean},</if>
	  <if test="null != item.serviceMethod"> #{item.serviceMethod},</if>
	  <if test="null != item.status"> #{item.status},</if>
	  <if test="null != item.executeType"> #{item.executeType},</if>
	  <if test="null != item.executeSql"> #{item.executeSql},</if>
	  <if test="null != item.executeSqlParam"> #{item.executeSqlParam},</if>
	  <if test="null != item.executeBean"> #{item.executeBean},</if>
	  <if test="null != item.executeMethod"> #{item.executeMethod},</if>
	  <if test="null != item.executeParam"> #{item.executeParam},</if>
	  <if test="null != item.addTime"> #{item.addTime},</if>
	  <if test="null != item.updateTime"> #{item.updateTime},</if>
	</trim>
  </sql>
  <insert id="insert" keyProperty="item.id" useGeneratedKeys="true">
    <include refid="sql_insert_columns" /><include refid="sql_insert_values" />
  </insert>
  <insert id="batchInsert">
    <foreach close="" collection="list" index="index" item="item" open="" separator=";">
	  <include refid="sql_insert_columns" /><include refid="sql_insert_values" />
	</foreach>
  </insert>
  <sql id="sql_update">
    update gjj_sys_event_hook set id = #{item.id}
      <if test="null != item.name">, name = #{item.name}</if>
      <if test="null != item.serviceBean">, service_bean = #{item.serviceBean}</if>
      <if test="null != item.serviceMethod">, service_method = #{item.serviceMethod}</if>
      <if test="null != item.status">, status = #{item.status}</if>
      <if test="null != item.executeType">, execute_type = #{item.executeType}</if>
      <if test="null != item.executeSql">, execute_sql = #{item.executeSql}</if>
      <if test="null != item.executeSqlParam">, execute_sql_param = #{item.executeSqlParam}</if>
      <if test="null != item.executeBean">, execute_bean = #{item.executeBean}</if>
      <if test="null != item.executeMethod">, execute_method = #{item.executeMethod}</if>
      <if test="null != item.executeParam">, execute_param = #{item.executeParam}</if>
      <if test="null != item.addTime">, add_time = #{item.addTime}</if>
      <if test="null != item.updateTime">, update_time = #{item.updateTime}</if>
	where id = #{item.id}
  </sql>
  <sql id="sql_update_all">
    update gjj_sys_event_hook set id = #{item.id}
	  , name = #{item.name}
	  , service_bean = #{item.serviceBean}
	  , service_method = #{item.serviceMethod}
	  , status = #{item.status}
	  , execute_type = #{item.executeType}
	  , execute_sql = #{item.executeSql}
	  , execute_sql_param = #{item.executeSqlParam}
	  , execute_bean = #{item.executeBean}
	  , execute_method = #{item.executeMethod}
	  , execute_param = #{item.executeParam}
	  , add_time = #{item.addTime}
	  , update_time = #{item.updateTime}
	where id = #{item.id}
  </sql>
  <update id="update">
    <include refid="sql_update" />
  </update>
  <update id="batchUpdate">
    <foreach close="" collection="list" index="index" item="item" open="" separator=";">
	  <include refid="sql_update" />
	</foreach>
  </update>
  <update id="updateAll">
    <include refid="sql_update_all" />
  </update>
  <delete id="delArray">
    delete from gjj_sys_event_hook where id in
	<foreach close=")" collection="array" index="index" item="item" open="(" separator=",">#{item}</foreach>
  </delete>
  <delete id="delList">
    delete from gjj_sys_event_hook where id in
	<foreach close=")" collection="list" index="index" item="item" open="(" separator=",">#{item}</foreach>
  </delete>
</mapper>