<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaheng.scaffold.sys.sys.dao.SysTableLogMapper">
  <resultMap id="BaseResultMap" type="com.jiaheng.scaffold.sys.sys.domain.SysTableLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="trace_id" jdbcType="VARCHAR" property="traceId" />
    <result column="table_en_name" jdbcType="VARCHAR" property="tableEnName" />
    <result column="table_cn_name" jdbcType="VARCHAR" property="tableCnName" />
    <result column="pk_id" jdbcType="INTEGER" property="pkId" />
    <result column="fk_id" jdbcType="INTEGER" property="fkId" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
    <result column="operate_sql" jdbcType="VARCHAR" property="operateSql" />
    <result column="operate_sql_param" jdbcType="VARCHAR" property="operateSqlParam" />
    <result column="field" jdbcType="VARCHAR" property="field" />
    <result column="field_dict" jdbcType="VARCHAR" property="fieldDict" />
    <result column="value_old" jdbcType="VARCHAR" property="valueOld" />
    <result column="value_new" jdbcType="VARCHAR" property="valueNew" />
    <result column="value_dict" jdbcType="VARCHAR" property="valueDict" />
    <result column="add_operate" jdbcType="INTEGER" property="addOperate" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="sql_columns">
    id,trace_id,table_en_name,table_cn_name,pk_id,fk_id,operate_type,operate_sql,operate_sql_param,field,field_dict,value_old,value_new,value_dict,add_operate,add_time
  </sql>
  <sql id="sql_where">
    <where>
      <if test="null != advanceFilterStr and ''!= advanceFilterStr">
        ${advanceFilterStr}
      </if>
      <if test="null == advanceFilterStr or ''== advanceFilterStr">
          <if test="null != id and '' != id or 0 ==id">and id = #{id}</if>
          <if test="null != traceId and '' != traceId">and trace_id = #{traceId}</if>
          <if test="null != tableEnName and '' != tableEnName">and table_en_name = #{tableEnName}</if>
          <if test="null != tableCnName and '' != tableCnName">and table_cn_name = #{tableCnName}</if>
          <if test="null != pkId and '' != pkId or 0 ==pkId">and pk_id = #{pkId}</if>
          <if test="null != fkId and '' != fkId or 0 ==fkId">and fk_id = #{fkId}</if>
          <if test="null != operateType and '' != operateType">and operate_type = #{operateType}</if>
          <if test="null != operateSql and '' != operateSql">and operate_sql = #{operateSql}</if>
          <if test="null != operateSqlParam and '' != operateSqlParam">and operate_sql_param = #{operateSqlParam}</if>
          <if test="null != field and '' != field">and field = #{field}</if>
          <if test="null != fieldDict and '' != fieldDict">and field_dict = #{fieldDict}</if>
          <if test="null != valueOld and '' != valueOld">and value_old = #{valueOld}</if>
          <if test="null != valueNew and '' != valueNew">and value_new = #{valueNew}</if>
          <if test="null != valueDict and '' != valueDict">and value_dict = #{valueDict}</if>
          <if test="null != addOperate and '' != addOperate or 0 ==addOperate">and add_operate = #{addOperate}</if>
          <if test="null != addTime and '' != addTime">and add_time = #{addTime}</if>
      </if>
	</where>
  </sql>
  <sql id="sql_map_where">
    <where>
	  <foreach collection="map.keys" item="k" separator="and">
 	      <if test="null != map[k]">
	          a.${k} = #{map[${k}]}
	      </if>
	  </foreach>
	</where>
  </sql>
  <select id="selectById" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_table_log where id = #{id}
  </select>
  <select id="selectCacheById" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_table_log where id = #{id}
  </select>
  <select id="selectLockById" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_table_log where id = #{id} for update
  </select>
  <select id="selectOne" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_table_log <include refid="sql_where" />
  </select>
  <select id="findList" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_table_log <include refid="sql_where" />
  </select>
  <select id="selectMap" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_table_log <include refid="sql_map_where" />
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(1) from sys_table_log <include refid="sql_where" />
  </select>
  <sql id="sql_insert_columns">
    insert into sys_table_log
	 <trim prefix="(" suffix=")" suffixOverrides="," >
	  <if test="null != item.traceId"> trace_id,</if>
	  <if test="null != item.tableEnName"> table_en_name,</if>
	  <if test="null != item.tableCnName"> table_cn_name,</if>
	  <if test="null != item.pkId"> pk_id,</if>
	  <if test="null != item.fkId"> fk_id,</if>
	  <if test="null != item.operateType"> operate_type,</if>
	  <if test="null != item.operateSql"> operate_sql,</if>
	  <if test="null != item.operateSqlParam"> operate_sql_param,</if>
	  <if test="null != item.field"> field,</if>
	  <if test="null != item.fieldDict"> field_dict,</if>
	  <if test="null != item.valueOld"> value_old,</if>
	  <if test="null != item.valueNew"> value_new,</if>
	  <if test="null != item.valueDict"> value_dict,</if>
	  <if test="null != item.addOperate"> add_operate,</if>
	  <if test="null != item.addTime"> add_time,</if>
	</trim>
  </sql>
  <sql id="sql_insert_values">
        <trim prefix="values (" suffix=")" suffixOverrides="," >
	  <if test="null != item.traceId"> #{item.traceId},</if>
	  <if test="null != item.tableEnName"> #{item.tableEnName},</if>
	  <if test="null != item.tableCnName"> #{item.tableCnName},</if>
	  <if test="null != item.pkId"> #{item.pkId},</if>
	  <if test="null != item.fkId"> #{item.fkId},</if>
	  <if test="null != item.operateType"> #{item.operateType},</if>
	  <if test="null != item.operateSql"> #{item.operateSql},</if>
	  <if test="null != item.operateSqlParam"> #{item.operateSqlParam},</if>
	  <if test="null != item.field"> #{item.field},</if>
	  <if test="null != item.fieldDict"> #{item.fieldDict},</if>
	  <if test="null != item.valueOld"> #{item.valueOld},</if>
	  <if test="null != item.valueNew"> #{item.valueNew},</if>
	  <if test="null != item.valueDict"> #{item.valueDict},</if>
	  <if test="null != item.addOperate"> #{item.addOperate},</if>
	  <if test="null != item.addTime"> #{item.addTime},</if>
	</trim>
  </sql>
  <insert id="insert" keyProperty="item.id" useGeneratedKeys="true">
    <include refid="sql_insert_columns" /><include refid="sql_insert_values" />
  </insert>
  <insert id="batchInsert">
    <foreach collection="list" index="index" item="item" open="" separator=";" close="">
	  <include refid="sql_insert_columns" /><include refid="sql_insert_values" />
	</foreach>
  </insert>
  <sql id="sql_update">
    update sys_table_log set id = #{item.id}
      <if test="null != item.traceId">, trace_id = #{item.traceId}</if>
      <if test="null != item.tableEnName">, table_en_name = #{item.tableEnName}</if>
      <if test="null != item.tableCnName">, table_cn_name = #{item.tableCnName}</if>
      <if test="null != item.pkId">, pk_id = #{item.pkId}</if>
      <if test="null != item.fkId">, fk_id = #{item.fkId}</if>
      <if test="null != item.operateType">, operate_type = #{item.operateType}</if>
      <if test="null != item.operateSql">, operate_sql = #{item.operateSql}</if>
      <if test="null != item.operateSqlParam">, operate_sql_param = #{item.operateSqlParam}</if>
      <if test="null != item.field">, field = #{item.field}</if>
      <if test="null != item.fieldDict">, field_dict = #{item.fieldDict}</if>
      <if test="null != item.valueOld">, value_old = #{item.valueOld}</if>
      <if test="null != item.valueNew">, value_new = #{item.valueNew}</if>
      <if test="null != item.valueDict">, value_dict = #{item.valueDict}</if>
      <if test="null != item.addOperate">, add_operate = #{item.addOperate}</if>
      <if test="null != item.addTime">, add_time = #{item.addTime}</if>
	where id = #{item.id}
  </sql>
  <sql id="sql_update_all">
    update sys_table_log set id = #{item.id}
	  , trace_id = #{item.traceId}
	  , table_en_name = #{item.tableEnName}
	  , table_cn_name = #{item.tableCnName}
	  , pk_id = #{item.pkId}
	  , fk_id = #{item.fkId}
	  , operate_type = #{item.operateType}
	  , operate_sql = #{item.operateSql}
	  , operate_sql_param = #{item.operateSqlParam}
	  , field = #{item.field}
	  , field_dict = #{item.fieldDict}
	  , value_old = #{item.valueOld}
	  , value_new = #{item.valueNew}
	  , value_dict = #{item.valueDict}
	  , add_operate = #{item.addOperate}
	  , add_time = #{item.addTime}
	where id = #{item.id}
  </sql>
  <update id="update">
    <include refid="sql_update" />
  </update>
  <update id="batchUpdate">
    <foreach collection="list" index="index" item="item" open="" separator=";" close="">
	  <include refid="sql_update" />
	</foreach>
  </update>
  <update id="updateAll">
    <include refid="sql_update_all" />
  </update>
  <delete id="delArray">
    delete from sys_table_log where id in
	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
  </delete>
  <delete id="delList">
    delete from sys_table_log where id in
	<foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
  </delete>
</mapper>