<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaheng.scaffold.sys.sys.dao.SysOperateMapper">


    <select id="queryAllOperate" resultMap="BaseResultMap">

        select * from sys_operate
        <where>
            <if test="null!=userName">and user_name like concat('%',#{userName},'%')</if>

            <if test="null!=status">and status = #{status}</if>

        </where>

    </select>

    <insert id="saveOperate">
        insert into sys_operate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != userName">user_name,</if>
            <if test="null != pwd">pwd,</if>
            <if test="null != addTime">add_time,</if>
            <if test="null != updateTime">update_time,</if>
            <if test="null != status">status,</if>
            <if test="null != partnerId">partner_id,</if>
            <if test="null != mobilePhone">mobile_phone,</if>
            <if test="null != realName">real_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null !=userName">#{userName},</if>
            <if test="null != pwd">#{pwd},</if>
            <if test="null != addTime">#{addTime},</if>
            <if test="null != updateTime">#{updateTime},</if>
            <if test="null != status">#{status},</if>
            <if test="null != partnerId">#{partnerId},</if>
            <if test="null != mobilePhone">#{mobilePhone},</if>
            <if test="null != realName">#{realName},</if>
        </trim>
    </insert>


    <update id="updateSysOperate">
        update sys_operate set id = #{id}
        <if test="null != userName">,user_name = #{userName}</if>
        <if test="null != pwd">, pwd = #{pwd}</if>
        <if test="null != addTime">, add_time = #{addTime}</if>
        <if test="null != updateTime">, update_time = #{updateTime}</if>
        <if test="null != status">, status = #{status}</if>
        <if test="null != partnerId">, partner_id = #{partnerId}</if>
        <if test="null != mobilePhone">, mobile_phone = #{mobilePhone}</if>
        <if test="null != realName">, real_name = #{realName}</if>
        where id = #{id}
    </update>

    <select id="findByUserName" resultMap="BaseResultMap">
        select * from sys_operate where user_name=#{userName}
    </select>

    <select id="findByIds" resultMap="BaseResultMap">
        select * from sys_operate
        <where>
            <if test="null != ids and ids.size>0">
                id in
                <foreach collection="ids" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>